@model IEnumerable<Project_ClassLibrary_DAL.EmpInfo>

@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Add New", "SaveEmployee")
</p>
<table class="table">
    <tr style="background-color:darkgray">
        <th>
           Email
        </th>
        <th>
           Name
        </th>
        <th>
            Date Of Joining
        </th>
        <th>
            Pass-Code
        </th>
        <th></th><th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="background-color:lightgray">
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfJoining)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassCode)
        </td>
        <td style="background-color:yellow;text-align:center;border-radius:10px">
            @Html.ActionLink("Delete", "Delete", new { mail = item.EmailId })
        </td>
        <td style="background-color:powderblue;text-align:center;border-radius:10px">
            @Html.ActionLink("Edit", "Edit", new { mail = item.EmailId })
        </td>

    </tr>
}

</table>
